.page-header {
    margin: 10px 0;
    padding: 0 0 10px 0;
}

.page-header + div.alert {
    margin-top: -10px;
}

.navbar-default {
    height: 80px;
    margin: 0;
}

.dropdown-large {
    position: static !important;
}

.dropdown-menu-large {
    margin-left: 0;
    margin-right: 0;
    padding: 15px;
}

#header-timer {
    display: block;
    height: 80px;
}

#header-timer h1, #header-timer h2 {
    color: #999;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.5em;
    font-size: 1.2em;
}

#header-timer h1 {
    font-family: 'Press Start 2P', System, Terminal, Fixedsys;
}

#footer, #footer p {
    margin-top: 20px;
}

.facts-table thead {
    background: white;
}

.facts-table thead tr th {
    border-bottom: 1px solid #CCC;
}

.facts-table tbody:before {
    line-height: 1em;
    content: "-";
    color: white;
    display: block;
}

.table.facts-table a {
    text-decoration: none;
}

.table.facts-table a:hover {
    text-decoration: underline;
}

.row-fact.hover td {
    background-color: #f5f5f5;
}

.row-fact .column-actions a {
    visibility: hidden;
}

.row-fact .column-actions a span {
    display: none;
}

.row-fact:hover .column-actions a {
    visibility: visible;
}

.row-fact input, .row-fact select {
    padding-right: 4px;
    padding-left: 4px;
}

.floatThead-container {
    z-index: 1 !important;
}

.waiting-layer {
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    z-index: 999998;
}

.waiting-layer-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 15%;
    padding: 40px;
    z-index: 999999;
    background: #FFF;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

.bootstrap-switch {
    width: 100%;
    border: 1px solid #e7e7e7;  
}

.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-label {
    line-height: 26px;
}

.progress-bar[aria-valuenow="0"] {
    min-width: 0;
}

.mt-20 {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .dropdown-menu-large {
        margin-left: 0 ;
        margin-right: 0 ;
    }
}

@media (max-width: 720px) {
    .facts-table .column-tag, .facts-table .hour {
        display: none;
    }
}
